   <!-- mobile menu -->
{% load i18n %}
    <div class="offcanvas offcanvas-start canvas-mb bg_aristo" id="mobileMenu" style="direction: {% if LANGUAGE_CODE == 'ar' %}rtl{% else %}ltr{% endif %};">
        <span class="icon-close icon-close-popup text_aristo" data-bs-dismiss="offcanvas" aria-label="Close" style="direction: {% if LANGUAGE_CODE == 'ar' %}rtl{% else %}ltr{% endif %};"></span>
        <div class="mb-canvas-content">
            <div class="mb-body">
                <ul class="nav-ul-mb" id="wrapper-menu-navigation">
                        <li class="nav-mb-item"><a href="{% url 'home_page' %}" class="item-link ">{% trans "الرئيسية" %}</a></li>
                                <li class="nav-mb-item"><a href="{% url 'about_page' %}" class="item-link ">{% trans "عن المؤسسة" %}</a></li>
                                <li class="nav-mb-item"><a href="{% url 'contact_page' %}" class="item-link ">{% trans "إتصل بنا" %}</a></li>
                                <li class="nav-mb-item"><a href="{% url 'blogs_page' %}" class="item-link ">{% trans "أخبارنا" %}</a></li>
                                 <li class="nav-mb-item"><a href="{% url 'project_list' %}" class="item-link ">{% trans "أعمالنا" %}</a></li>

                </ul>
                <div class="mb-other-content">
                    <div class="mb-notice">
                        <a href="{% url 'contact_page' %}" class="text-need">{% trans 'تحتاج مساعدة' %}</a>
                    </div>
                    <ul class="mb-info">
                           <li class="text-black"><strong>{% trans 'اسم المؤسسة:' %}</strong> Aristo Design</li>
                                <li class="text-black"><strong>{% trans 'المقر:' %}</strong> {% trans 'القاهرة، مصر' %}</li>
                                <li class="text-black"><strong>{% trans 'البريد الإلكتروني:' %}</strong> info@aristo-design.com</li>
                    </ul>
                </div>
            </div>
            <div class="mb-bottom">
                <div class="bottom-bar-language">
                    <div class="tf-languages">
                  <form method="POST" action="{% url 'set_language' %}">
    {% csrf_token %}
                      <input type="hidden" name="next" value="{{ request.path }}">
    <select name="language" class="form-select-lg form-control image-select center style-default type-languages text-white" onchange="this.form.submit()">
        <option value="en" {% if LANGUAGE_CODE == 'en' %}selected{% endif %}>English</option>
        <option value="ar" {% if LANGUAGE_CODE == 'ar' %}selected{% endif %}>العربية</option>
    </select>
</form>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /mobile menu -->