{% extends 'base.html' %}
{% load static i18n %}
{% block content %}
        <!-- page-title -->
        <div class="tf-page-title">
            <div class="container-full">
                <div class="row">
                    <div class="col-12">
                        <div class="heading text-center text_aristo">{% trans 'عن المؤسسة' %} </div>
                        <ul class="breadcrumbs d-flex align-items-center justify-content-center">
                            <li>
                                <a class="text_aristo" href="{% url 'home_page' %}">{% trans 'الرئيسية' %}</a>
                            </li>
                            <li>
                                <i class="icon-arrow-right"></i>
                            </li>
                            <li class="text_aristo">
                                 {% trans 'عن المؤسسة' %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page-title -->

        <!-- blog-list -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="blog-list-main">
                        {% include 'partials/home/_info.html' %}
                    </div>
                </div>
             <div class="col-12">
                    <div class="blog-list-main" style="direction: ltr;">
                        {% include 'partials/home/_projects.html' with view_more=False %}
                    </div>
                </div>
            </div>
        </div>
        <!-- /blog-list -->

{% endblock content %}
